<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">工程师 Online</h1>
       <p class="slogan">工程师 Online 是一个提供网约工程师工作机会的求职网站。
         <br>
         我们希望为大家提供最好的互联网软件工程师岗位。
         <br>
         抓住现在与未来的机会。
       </p>
       <p class="lead">
         <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>


 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">我们需要的互联网新型人才</h2>
         <p class="lead">以跨界的心态来探索新世界</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">我们希望看到你的作品</h2>
         <p class="lead">也许你也有自己的博客记录生活，例如  <a target="_blank" href="http://xxcalvin-blog.logdown.com/">Calvin 的 Blog</a></p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">不仅仅是工作<br>我们也提倡高效简约</h2>
         <p class="lead">时尚大气的办公环境<a target="_blank" href="https://forum.qzy.camp/">全Mac办公</a></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
